PRIVATE_KEY=
ETHERSCAN_API_KEY=
BSCSCAN_API_KEY=
BSC_RPC_URL=https://bsc-dataseed.binance.org/
BSC_TESTNET_RPC_URL=https://data-seed-prebsc-1-s1.binance.org:8545/

# Minter deploy config
ADMIN=
PAUSER=
TOKEN=
ASSTOKEN=
SWAP_ROUTER=
SWAP_POOL=
MAX_SWAP_RATIO=10000
